# supporting libraries
bokeh
holoviews
numpy
pandas
plotly
chart_studio
pur
requests
rise

# notebook
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyternotify
ipython
ipywidgets
